#audioGuide {
    width: 98%;
    max-width:300px;
    margin: 10px auto;
    font-family: arial;
    color: #000;
    padding:2%;
    text-align:center;
    border-radius: 2px;
    background: #127bbb;
		box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  border-top:1px solid rgba(255,255,255,0.9);
  border-left:1px solid rgba(255,255,255,0.9);
  border-bottom:1px solid rgba(0,0,0,0.2);
  border-right:1px solid rgba(0,0,0,0.2);   
}

#audioGuide #trackList {
    text-align:left;

    border:1px solid #fff;
    border-bottom:none;
    border-right:none;
    box-shadow:inset 0px 0px 6px #fff;
    width:84%;
    margin:8px auto;
    padding:5%;
    background: #f5f6f6;
    background: linear-gradient(135deg,  #ddd 0%,#eee 21%,#ffffff 49%,#eee 80%,#ddd 100%);
}

#audioGuide #trackList a {
    color: #111;
    text-decoration:none;
    display:list-item;
    list-style:none;
    list-style-position: inside;
}

#audioGuide #messages {
    width:90%;
    margin:10px auto;
    padding:5%;
}

{
    display:block;
    padding:5px;
    width:50%;
    margin:10px auto;
    border:1px solid #999;
    border-bottom:#000;
    border-right:#000;
    border-radius:2px;
    background:#555;
    color:#ddd;
}

#audioGuide pauseButton {
    display:block;
    padding:5px;
    width:50%;
    margin:10px auto;
    border:1px solid #999;
    border-bottom:#000;
    border-right:#000;
    border-radius:2px;
    background:#555;
    color:#ddd;
}

#audioGuide resumeButton {
    display:block;
    padding:5px;
    width:50%;
    margin:10px auto;
    border:1px solid #999;
    border-bottom:#000;
    border-right:#000;
    border-radius:2px;
    background:#555;
    color:#ddd;
}

#audioGuide stopButton {
    display:block;
    padding:5px;
    width:50%;
    margin:10px auto;
    border:1px solid #999;
    border-bottom:#000;
    border-right:#000;
    border-radius:2px;
    background:#555;
    color:#ddd;
}

#audioGuide audio {
    display: none;
}

#audioGuide slider, audioPlayer volKnob, #audioPlayer label{
    display:block;
    width:100%;
}
input[type='range'] {
	-webkit-appearance: none;
	background-color: #555;
	 height: 25px;
}
input[type='range']::-moz-range-track {
	 -moz-appearance: none;
	 background-color: #555;
	 height: 25px;
}
input[type='range']::-webkit-slider-thumb {
	 -webkit-appearance: none !important;	 
	 background-color: #555;
	 border: 1px solid #111;
border-radius:50%;
	 height: 20px;
	 width: 20px;
}
input[type='range']::-moz-range-thumb {
	 -moz-appearance: none;	
	 background-color: #555;
	 border: 1px solid #fff;
border-radius:50%;
	 height: 20px;
	 width: 20px;
} 
